* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	 
	th { 
		height:  52px;
		background: #222222; 
		color: white; 
		font-weight: bold;
		font-family: center; 
		text-align: left;
		border-left:solid 1px;
		border-left:dashed 1px ;
		border-left-color: #999999;
		
		
	}
	td { 
		padding: 6px; 
		border-left:solid 1px;
		border-left:dashed 1px ;
		border-left-color: #999999;
		border-bottom:solid 1px;
		border-bottom-color: #999999;
		text-align: center;
		 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #fff; 
	}	