* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #139ddb; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold;
		font-family: Arial; 
	}
	td, th { 
		padding: 6px; 
		
		border-bottom:solid 1px;
		border-bottom-color: #77baef;
		text-align: left;
		 background: #01518d;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #139ddb; 
	}	